<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />

        <!-- Vue.js CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <label>calclate date:</label>
            <input
                type="datetime-local"
                v-model="datetimeString"
                min="2021-01-01T00:00"
                max="2021-12-31T23:59"
            />

            <p>a</p>
            <!-- aの値を表示してください。 -->
            <div>{{getAnswer("a")}}</div>

            <p>b</p>
            <!-- bの値を表示してください。 -->
            <div>{{getAnswer("b")}}</div>

            <p>days</p>
            <!-- termDaysの値を表示してください。 -->
            <div>{{getAnswer("termDays")}}</div>

            <p>P</p>
            <!-- capitalPの値を表示してください。 -->
            <div>{{getAnswer("capitalP")}}</div>

            <p>Q</p>
            <!-- capitalQの値を表示してください。 -->
            <div>{{getAnswer("capitalQ")}}</div>

            <p>Y</p>
            <!-- capitalYの値を表示してください。 -->
            <div>{{getAnswer("capitalY")}}</div>

            <p>S</p>
            <!-- capitalSの値を表示してください。 -->
            <div>{{getAnswer("capitalS")}}</div>

            <p>T</p>
            <!-- capitalTの値を表示してください。 -->
            <div>{{getAnswer("capitalT")}}</div>

            <p>t</p>
            <!-- tの値を表示してください。 -->
            <div>{{getAnswer("t")}}</div>

            <p>θ</p>
            <!-- thetaの値を表示してください。 -->
            <div>{{getAnswer("theta")}}</div>

            <p>cosNθ</p>
            <div>
              <!-- Vue.jsのリストレンダリングを使って、NとcosNθの値をそれぞれ{N, cosNθ}表示してください。 -->
              <p v-for="(cosItem,index) in getAnswer('cosList')" v-bind:key="index">
                N = {{index}} : cosNθ = {{cosItem}}
              </p>
            </div>
            <table>
                <thead>
                <tr>
                    <th>視赤経Ｒ.Ａ.</th>
                    <th>視赤緯Ｄｅｃ</th>
                    <th>地心距離Ｄｉｓｔ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!-- rightAscensionの値を表示してください。 -->
                    <td>{{getAnswer("rightAscension")}}</td>

                    <!-- declinationの値を表示してください。 -->
                    <td>{{getAnswer("declination")}}</td>

                    <!-- distanceの値を表示してください。 -->
                    <td>{{getAnswer("distance")}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <script src="main.js"></script>
    </body>
</html>
